---
layout: default
---

<div class="section page_header" style="padding:20px 40px">
    <h1> 2014 Schedule</h1>
</div>
<div class="content_section">
    <div class="row masonry_section">
        <div class="scgrid-9 masonry_handle">
            {% for bout in site.data.schedule.bouts %}
                <div class="light_box">
                    <h3>{{ bout.date}} - {{ bout.title }}</h3>
                    <h5>{{ bout.message }}</h5>
                </div>
            {% endfor %}
        </div>
        {% include side.html %}
    </div>
</div>
