<div class="scgrid-3 masonry_handle">
    <div class="light_box text_center">
        <!-- Begin MailChimp Signup Form -->
        <link href="http://cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
        <style type="text/css">
                #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
                /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
                   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
        </style>
        <div id="mc_embed_signup">
        <form action="http://ironmountainrollergirls.us5.list-manage.com/subscribe/post?u=2f6a03c155ab23f974c4f6bcc&amp;id=faace22e8c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
                <label for="mce-EMAIL">Join our Mailing List</label>
                <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
                <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
        </form>
        </div>
        <!--End mc_embed_signup-->
        
    </div>
    <div class="light_box text_center">
            <div class="fb-like-box" data-href="https://www.facebook.com/ironmountainrollergirls" data-width="150" data-colorscheme="light" data-show-faces="true" data-header="true" data-stream="false" data-show-border="true"></div>
    </div>
</div>
