html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/*###########################################################
################## Grids Styles #############################
###########################################################*/
.centered {
  margin: 0 auto;
  float: none !important;
  overflow: hidden;
}

.always_padd {
  margin-bottom: 40px;
}

.padd_small {
  margin-bottom: 0px;
}

.text_center {
  text-align: center;
}

.sc-container {
  margin: 0 auto;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
}

.row {
  margin: 0 auto;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  clear: both;
}

.row .row {
  margin-left: -20px;
  margin-right: -20px;
}

.row [class^="scgrid-"] {
  float: left;
  padding-left: 20px;
  padding-right: 20px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media (max-width: 400px) {
  .sc-container {
    width: 100%;
  }

  .scgrid-1 {
    width: 100%;
  }

  .scgrid-2 {
    width: 100%;
  }

  .scgrid-3 {
    width: 100%;
  }

  .scgrid-4 {
    width: 100%;
  }

  .scgrid-5 {
    width: 100%;
  }

  .scgrid-6 {
    width: 100%;
  }

  .scgrid-7 {
    width: 100%;
  }

  .scgrid-8 {
    width: 100%;
  }

  .scgrid-9 {
    width: 100%;
  }

  .scgrid-10 {
    width: 100%;
  }

  .scgrid-11 {
    width: 100%;
  }

  .scgrid-12 {
    width: 100%;
  }

  .padd_small {
    margin-bottom: 40px;
  }
}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 400px) and (max-width: 768px) {
  .sc-container {
    width: 400px;
  }

  .scgrid-1 {
    width: 100%;
  }

  .scgrid-2 {
    width: 100%;
  }

  .scgrid-3 {
    width: 100%;
  }

  .scgrid-4 {
    width: 100%;
  }

  .scgrid-5 {
    width: 100%;
  }

  .scgrid-6 {
    width: 100%;
  }

  .scgrid-7 {
    width: 100%;
  }

  .scgrid-8 {
    width: 100%;
  }

  .scgrid-9 {
    width: 100%;
  }

  .scgrid-10 {
    width: 100%;
  }

  .scgrid-11 {
    width: 100%;
  }

  .scgrid-12 {
    width: 100%;
  }

  .padd_small {
    margin-bottom: 40px;
  }
}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 768px) and (max-width: 1100px) {
  .sc-container {
    width: 768px;
  }

  .scgrid-1 {
    width: 8.33333%;
  }

  .scgrid-2 {
    width: 16.66667%;
  }

  .scgrid-3 {
    width: 25%;
  }

  .scgrid-4 {
    width: 33.33333%;
  }

  .scgrid-5 {
    width: 41.66667%;
  }

  .scgrid-6 {
    width: 50%;
  }

  .scgrid-7 {
    width: 58.33333%;
  }

  .scgrid-8 {
    width: 66.66667%;
  }

  .scgrid-9 {
    width: 75%;
  }

  .scgrid-10 {
    width: 83.33333%;
  }

  .scgrid-11 {
    width: 91.66667%;
  }

  .scgrid-12 {
    width: 100%;
  }
}
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1100px) {
  .sc-container {
    width: 1100px;
  }

  .scgrid-1 {
    width: 8.33333%;
  }

  .scgrid-2 {
    width: 16.66667%;
  }

  .scgrid-3 {
    width: 25%;
  }

  .scgrid-4 {
    width: 33.33333%;
  }

  .scgrid-5 {
    width: 41.66667%;
  }

  .scgrid-6 {
    width: 50%;
  }

  .scgrid-7 {
    width: 58.33333%;
  }

  .scgrid-8 {
    width: 66.66667%;
  }

  .scgrid-9 {
    width: 75%;
  }

  .scgrid-10 {
    width: 83.33333%;
  }

  .scgrid-11 {
    width: 91.66667%;
  }

  .scgrid-12 {
    width: 100%;
  }
}
/*###########################################################
################## Typography ###############################
###########################################################*/
div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, th, td {
  margin: 0;
  padding: 0;
  direction: ltr;
}

/* Default Link Styles */
a {
  color: #EE4C9B;
  text-decoration: none;
  line-height: inherit;
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s;
}

a:hover, a:focus {
  color: #26B1C0;
}

a img {
  border: none;
}

/* Default paragraph styles */
p, ul, ol, dl {
  font-family: inherit;
  font-weight: normal;
  font-size: 12.5px;
  color: #666666;
  line-height: 1.9em;
  margin: 10px 0;
  text-rendering: optimizeLegibility;
  list-style-position: inside;
}

.post_intro {
  font-size: 18px;
  color: #B3B3B3;
}

p aside {
  font-size: 0.875em;
  line-height: 1.35;
  font-style: italic;
}

/* Default header styles */
h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: black;
  text-rendering: optimizeLegibility;
  line-height: 1.2125em;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
  font-size: 60%;
  color: #6f6f6f;
  line-height: 0;
}

h1 {
  font-size: 38px;
}

h2 {
  font-size: 34px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 26px;
}

h5 {
  font-size: 22px;
}

h6 {
  font-size: 18px;
}

hr {
  border-color: #ccc;
  border-width: 0 0 2px;
  clear: both;
  margin: 40px auto;
  height: 0;
}

hr.emboss {
  border-top: 1px solid #D5D5D5;
  border-bottom: 1px solid #fff;
}

hr.dashed {
  border-style: dashed;
}

hr.thin {
  border-width: 0 0 1px;
}

hr.dotted {
  border-style: dotted;
}

hr.solid {
  border-style: solid;
}

hr.full_hr {
  margin-left: -20px !important;
  margin-right: -20px !important;
}

hr.nopadd {
  margin: 0px !important;
  margin: 0px !important;
}

/* Helpful Typography Defaults */
.highlight {
  color: #EE4C9B;
}

.highlight_2 {
  color: #fff;
  background: #EE4C9B;
}

em, i {
  font-style: italic;
  line-height: inherit;
}

strong, b {
  font-weight: bold;
  line-height: inherit;
}

small {
  font-size: 60%;
  line-height: inherit;
}

code {
  font-family: Consolas, "Liberation Mono", Courier, monospace;
  color: #5EC3EB;
  width: 100%;
  display: inline-block;
  background: #F8F8F8;
  border: 3px solid #FFFFFF;
  padding: 20px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 13px;
  -webkit-box-shadow: rgba(1, 1, 1, 0.39) 0px 0px 2px;
  -moz-box-shadow: rgba(1, 1, 1, 0.39) 0px 0px 2px;
  box-shadow: rgba(1, 1, 1, 0.39) 0px 0px 2px;
  margin-bottom: 2px;
}

blockquote, blockquote p {
  padding: 0 0 0 15px;
  border-left: 2px solid #cdcdcd;
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  line-height: 1.6em;
  color: #999;
  font-size: 18px;
}

blockquote cite {
  display: block;
  font-size: 13px;
  color: #333;
  font-style: normal;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

blockquote cite:before {
  content: "\2014 \0020";
}

/* Lists */
ul.disc {
  list-style: disc;
  margin-left: 17px;
}

ul.circ {
  list-style: circle;
  margin-left: 17px;
}

ul.square {
  list-style: square;
  margin-left: 17px;
}

ol {
  list-style-type: decimal;
  margin-left: 17px;
  list-style-position: outside;
}

/* Unordered Lists */
ul li ul, ul li ol {
  margin-left: 15px;
  margin-bottom: 0;
}

/* Ordered Lists */
ol li ul, ol li ol {
  margin-left: 1.25em;
  margin-bottom: 0;
}

/* Definition Lists */
dl dt {
  margin-bottom: 0.3em;
  font-weight: bold;
}

dl dd {
  margin-bottom: 0.75em;
}

/* Abbreviations */
abbr, acronym {
  text-transform: uppercase;
  font-size: 90%;
  color: #222222;
  border-bottom: 1px dotted #222222;
  cursor: help;
}

abbr {
  text-transform: none;
}

@media (max-width: 400px) {
  h1, h2, h3, h4, h5, h6 {
    line-height: 1.4;
  }

  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 26px;
  }

  h3 {
    font-size: 22px;
  }

  h4 {
    font-size: 18px;
  }
}
::selection {
  background: #EE4C9B;
  /* Safari */
  color: white;
}

::-moz-selection {
  background: #EE4C9B;
  /* Firefox */
  color: white;
}

.rounded-icon {
  font-size: 30px;
  background: #EBEBEB;
  color: #EE4C9B;
  border: 1px solid #E2E2E2;
  height: 80px;
  width: 80px;
  vertical-align: middle;
  line-height: 80px;
  display: inline-block;
  -webkit-border-radius: 10000px;
  -moz-border-radius: 10000px;
  -ms-border-radius: 10000px;
  -o-border-radius: 10000px;
  border-radius: 10000px;
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s;
  text-align: center;
}

.rounded-icon:hover {
  background: #EE4C9B;
  color: #fff;
  border-color: #ba2d5f;
}

.rounded-icon-small {
  font-size: 23px;
  background: #EE4C9B;
  color: #fff;
  border: 1px solid #E2E2E2;
  height: 50px;
  width: 50px;
  vertical-align: middle;
  line-height: 50px;
  display: inline-block;
  -webkit-border-radius: 10000px;
  -moz-border-radius: 10000px;
  -ms-border-radius: 10000px;
  -o-border-radius: 10000px;
  border-radius: 10000px;
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s;
  text-align: center;
}

ol.big_ol {
  counter-reset: li;
  /* Initiate a counter */
  margin-left: 0;
  /* Remove the default left margin */
  padding-left: 0;
  /* Remove the default left padding */
}

ol.big_ol > li {
  position: relative;
  margin: 0 0 10px 2em;
  padding-left: 30px;
  list-style: none;
  display: inline-block;
  min-height: 40px;
}

ol.big_ol > li:before {
  content: counter(li);
  /* Use the counter as content */
  counter-increment: li;
  /* Increment the counter by 1 */
  /* Position and style the number */
  position: absolute;
  top: -2px;
  left: -2em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  /* Some space between the number and the content in browsers that support
     generated content but not positioning it (Camino 2 is one example) */
  margin-right: 8px;
  line-height: 40px;
  color: #fff;
  background: #666;
  font-weight: bold;
  font-family: "Helvetica Neue", Arial, sans-serif;
  text-align: center;
  -webkit-border-radius: 1000px;
  -moz-border-radius: 1000px;
  -ms-border-radius: 1000px;
  -o-border-radius: 1000px;
  border-radius: 1000px;
}

/*###########################################################
################## Button Styles ############################
###########################################################*/
.flat_button {
  color: #fff;
  font-weight: 600;
  font-family: 'open sans';
  text-transform: uppercase;
}

.button {
  text-decoration: none;
  display: inline-block;
  text-align: center;
  line-height: 1;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-transform: uppercase;
  cursor: pointer;
}

.full_width {
  width: 100%;
  padding-right: 0px;
  padding-left: 0px;
}

.skin_button {
  background: #b70f4a;
  border-bottom-width: 3px;
  color: white;
  border-top: 1px solid #cd5982;
  outline: 1px solid #6f1736;
  text-shadow: rgba(0, 0, 0, 0.4) 1px 1px 1px;
}

.skin_button:hover {
  background: #a40f43;
  color: white;
}

.rounded {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

.small {
  padding: 15px 40px !important;
  font-size: 11px;
  font-weight: 600;
}

.medium {
  padding: 15px 40px;
  font-size: 15px;
  font-weight: 600;
}

.large {
  padding: 15px 40px;
  font-size: 19px;
  font-weight: 600;
}

.pink_embossed {
  background: #b70f4a;
  border-bottom-width: 3px;
  color: white;
  border-top: 1px solid #cd5982;
  outline: 1px solid #6f1736;
  text-shadow: rgba(0, 0, 0, 0.4) 1px 1px 1px;
}

.pink_embossed:hover {
  background: #a40f43;
  color: white;
}

.blue_embossed {
  background: #4299AA;
  border-bottom-width: 3px;
  color: white;
  border-top: 1px solid #82BBD6;
  outline: 1px solid #347B97;
  text-shadow: rgba(0, 0, 0, 0.4) 1px 1px 1px;
}

.blue_embossed:hover {
  background: #3B8897;
  color: white;
}

.green_embossed {
  background: #389166;
  border-bottom-width: 3px;
  color: white;
  border-top: 1px solid #5AB282;
  outline: 1px solid #226D46;
  text-shadow: rgba(0, 0, 0, 0.4) 1px 1px 1px;
}

.green_embossed:hover {
  background: #2E7452;
  color: white;
}

.purple_embossed {
  background: #7F49A3;
  border-bottom-width: 3px;
  color: white;
  border-top: 1px solid #A982CE;
  outline: 1px solid #3D226D;
  text-shadow: rgba(0, 0, 0, 0.4) 1px 1px 1px;
}

.purple_embossed:hover {
  background: #6D428A;
  color: white;
}

.red_embossed {
  background: #DD4242;
  border-bottom-width: 3px;
  color: white;
  border-top: 1px solid #DF8282;
  outline: 1px solid #A20909;
  text-shadow: rgba(0, 0, 0, 0.4) 1px 1px 1px;
}

.red_embossed:hover {
  background: #B83C3C;
  color: white;
}

.white_embossed {
  background: #DDDDDD;
  border-bottom-width: 3px;
  color: #333;
  border-top: 1px solid #FFFFFF;
  outline: 1px solid #B1B1B1;
  text-shadow: white 1px 1px 1px;
}

.white_embossed:hover {
  background: #D6D6D6;
  color: #333;
}

.black_embossed {
  background: #3D3D3D;
  border-bottom-width: 3px;
  color: white;
  border-top: 1px solid #7E7E7E;
  outline: 1px solid #000000;
  text-shadow: rgba(0, 0, 0, 0.4) 1px 1px 1px;
}

.black_embossed:hover {
  background: #333;
  color: white;
}

/*--------------------------------------------------------------------------*/
.pink {
  background: #CA264E !important;
  color: #fff;
}

.pink:hover {
  background: #AA2646 !important;
  color: #fff;
}

.blue {
  background: #4299AA !important;
  color: white;
}

.blue:hover {
  background: #3B8897 !important;
  color: white;
}

.green {
  background: #389166 !important;
  color: white;
}

.green:hover {
  background: #2E7452 !important;
  color: white;
}

.purple {
  background: #7F49A3 !important;
  color: white;
}

.purple:hover {
  background: #6D428A !important;
  color: white !important;
}

.red {
  background: #DD4242 !important;
  color: white !important;
}

.red:hover {
  background: #B83C3C !important;
  color: white !important;
}

.white {
  background: #DDDDDD !important;
  color: #333 !important;
}

.white:hover {
  background: #D6D6D6 !important;
  color: #333 !important;
}

.black {
  background: #3D3D3D !important;
  color: white !important;
}

.black:hover {
  background: #333 !important;
  color: white !important;
}

/*--------------------------------------------------------------------------*/
.pink_empty {
  border: 2px solid #CA264E !important;
  color: #333;
  padding: 13px 40px !important;
}

.pink_empty:hover {
  background: #CA264E !important;
  color: white;
}

.blue_empty {
  border: 2px solid  #4299AA;
  color: #333;
  padding: 13px 40px !important;
}

.blue_empty:hover {
  background: #4299AA;
  color: white;
}

.green_empty {
  border: 2px solid  #389166;
  color: #333;
  padding: 13px 40px !important;
}

.green_empty:hover {
  background: #389166;
  color: white;
}

.purple_empty {
  border: 2px solid  #7F49A3;
  color: #333;
  padding: 13px 40px !important;
}

.purple_empty:hover {
  background: #7F49A3;
  color: white;
}

.red_empty {
  border: 2px solid #DD4242;
  color: #333;
  padding: 13px 40px !important;
}

.red_empty:hover {
  background: #DD4242;
  color: white;
}

.white_empty {
  border: 2px solid  #fff;
  color: white;
  padding: 13px 40px !important;
}

.white_empty:hover {
  background: #fff;
  color: #333;
}

.black_empty {
  border: 2px solid  #3D3D3D;
  color: #333;
  padding: 13px 40px !important;
}

.black_empty:hover {
  background: #3D3D3D;
  color: white;
}

.light_box {
  background: #F8F8F8;
  border: 3px solid #FFFFFF;
  padding: 20px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: rgba(1, 1, 1, 0.39) 0px 0px 2px;
  -moz-box-shadow: rgba(1, 1, 1, 0.39) 0px 0px 2px;
  box-shadow: rgba(1, 1, 1, 0.39) 0px 0px 2px;
  margin-bottom: 22px;
  display: inline-block;
  width: 100%;
}

.masonry_handle {
  margin-bottom: 20px;
}

.notification {
  padding: 10px 15px;
  display: inline-table;
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  margin-bottom: 15px;
}

.notification p {
  margin-bottom: 0px;
  display: inline;
  margin-left: 15px;
  line-height: 1.3em;
}

.close_box {
  cursor: pointer;
  position: absolute;
  top: 2px;
  right: 5px;
}

.error {
  background: #CC5555;
  outline: 1px solid #A05A5A;
  border-top: 1px solid #DD9696;
  color: #571B1B;
  text-shadow: rgba(255, 255, 255, 0.19) 1px 1px 0px;
}

.error p {
  color: #571B1B;
  text-shadow: rgba(255, 255, 255, 0.19) 1px 1px 0px;
}

.warning {
  background: #DFD672;
  outline: 1px solid #B8AC6B;
  border-top: 1px solid #F3F3A3;
  color: #474717;
  text-shadow: rgba(255, 255, 255, 0.4) 1px 1px 0px;
}

.warning p {
  color: #474717;
  text-shadow: rgba(255, 255, 255, 0.4) 1px 1px 0px;
}

.success {
  background: #63C38A;
  outline: 1px solid #4E7A57;
  border-top: 1px solid #9DEBB6;
  color: #1E5534;
  text-shadow: rgba(255, 255, 255, 0.3) 1px 1px 0px;
}

.success p {
  color: #1E5534;
  text-shadow: rgba(255, 255, 255, 0.3) 1px 1px 0px;
}

.info {
  background: #E7E7E7;
  outline: 1px solid #C2C2C2;
  border-top: 1px solid #FFFFFF;
  color: #333;
  text-shadow: white 1px 1px 0px;
}

.info p {
  color: #333;
  text-shadow: white 1px 1px 0px;
}

.progress_bar {
  background: #ddd;
  width: 100%;
  overflow: hidden;
}

.progress_bar .progress_bar_inner {
  padding: 20px 0;
  opacity: 0;
  background: #B8719B;
  color: #fff;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 11px;
  position: relative;
  text-align: right;
  display: inline-block;
}

.progress_bar .progress_bar_inner span {
  font-size: 22px;
  margin-top: 5px;
  display: inline-block;
  float: right;
}

.progress_bar_2 {
  width: 100%;
  overflow: hidden;
  color: #333;
  font-size: 11px;
}

.progress_bar_2 .progress_bar_inner {
  padding: 5px 0;
  opacity: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  text-align: right;
  display: inline-block;
  vertical-align: middle;
}

.progress_bar_2 .progress_bar_back {
  margin-top: 10px;
}

.progress_bar_2 .progress_bar_inner span {
  font-size: 12px;
  display: inline-block;
  float: right;
}

.counter {
  text-align: center;
}

.counter .counter_inner {
  font-size: 72px;
  display: inline;
}

.counter span {
  font-size: 72px;
  display: inline;
}

.vtabs, .tabs, .accordion {
  overflow: hidden;
}

.twitter_slider .user img {
  display: none;
}

.twitter_slider .user span span {
  display: inline-block;
  color: #fff;
  margin-right: 5px;
}

.twitter_slider .user a {
  width: 100%;
  display: inline-block;
  color: #fff;
  margin-top: 5px;
}

.twitter_slider .tweet {
  color: #fff;
  font-size: 22px;
  font-weight: 300;
  margin: 0;
}

.twitter_slider .tweet a {
  color: #333;
}

.twitter_slider i {
  color: #fff;
  font-size: 42px;
  margin: 0;
}

.twitter_slider .timePosted {
  color: #fff;
  font-size: 11px;
  margin: 0;
}

.twitter_slider .interact {
  color: #fff;
  font-size: 11px;
  margin: 0;
}

.twitter_slider .interact a {
  color: #fff;
  font-size: 11px;
  margin: 10px;
}

.tweets_slider .bx-wrapper .bx-pager, .tweets_slider .bx-wrapper .bx-controls-auto {
  position: static;
}

.tweets_slider .bx-wrapper .bx-pager.bx-default-pager a:hover, .tweets_slider .bx-wrapper .bx-pager.bx-default-pager a.active {
  background: #fff;
}

.tweets_slider .bx-wrapper .bx-pager.bx-default-pager a {
  background: #AEE4E9;
}

.twitter_widget .user img {
  width: 40px;
  float: left;
}

[data-avatar="false"] .user img {
  display: none;
}
[data-avatar="false"] .user a, [data-avatar="false"] .tweet, [data-avatar="false"] .timePosted {
  margin-left: 0px !important;
}

.twitter_widget p {
  margin: 0;
}

.twitter_widget li {
  margin: 0px !important;
  padding-top: 15px !important;
  padding-bottom: 15px !important;
  border-top: 1px solid #FFFFFF !important;
  border-bottom: 1px solid #D5D5D5 !important;
}
.twitter_widget li:first-child {
  padding-top: 0px !important;
  border-top: none !important;
}
.twitter_widget li:last-child {
  padding-bottom: 0px !important;
  border-bottom: none !important;
}

.twitter_widget a {
  color: #278FC9 !important;
}

.twitter_widget .tweet, .twitter_widget .timePosted, .twitter_widget .interact {
  margin-left: 50px;
}
.twitter_widget .user a {
  margin-left: 10px;
  color: #333 !important;
  font-size: 11px;
  font-weight: 600;
}

.light_widget .twitter_widget .timePosted {
  font-size: 10px;
  color: #A5A5A5;
}
.light_widget .twitter_widget li {
  margin: 0px !important;
  padding-top: 15px !important;
  padding-bottom: 15px !important;
  border-top: 1px solid #222 !important;
  border-bottom: 1px solid #000 !important;
}
.light_widget .twitter_widget li:first-child {
  padding-top: 0px !important;
  border-top: none !important;
}
.light_widget .twitter_widget li:last-child {
  padding-bottom: 0px !important;
  border-bottom: none !important;
}
.light_widget .twitter_widget a {
  color: #AFD7EE !important;
}
.light_widget .twitter_widget .user a {
  color: #f4f4f4 !important;
}

.twitter_widget .timePosted {
  font-size: 11px;
  color: #ACACAC;
}

.twitter_widget .interact {
  display: none;
}

.team_member {
  position: relative;
  overflow: hidden;
  -webkit-box-shadow: black 0px 0px 5px;
  -moz-box-shadow: black 0px 0px 5px;
  box-shadow: black 0px 0px 5px;
  margin: 5px 0;
}

.team_member .team_member_info {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: rgba(1, 1, 1, 0.5);
  padding: 15px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: black 0px -1px 0px;
  -moz-box-shadow: black 0px -1px 0px;
  box-shadow: black 0px -1px 0px;
  border-top: 1px solid rgba(255, 255, 255, 0.16);
}

.team_member .team_member_info p {
  margin: 0;
  font-size: 11px;
  color: #ddd;
  text-align: center;
}

.team_member .team_member_info h6 {
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
}

.team_member .member_social li i {
  color: #fff;
  font-size: 22px;
}

.team_member .member_social {
  text-align: center;
  width: 100%;
  margin: 0;
  position: absolute;
  background: rgba(1, 1, 1, 0.5);
  padding: 0 15px 15px 15px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.team_member .member_social li {
  margin-right: 5px;
  display: inline-block;
}

.testimonials {
  position: relative;
  padding-bottom: 7px;
}

.testimonials .testimonial {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.testimonials .testimonial .testimonial_text {
  padding: 15px;
  background: #2e2e2e;
  position: relative;
}

.testimonials .testimonial .testimonial_author {
  width: 100%;
  display: inline-block;
  text-align: center;
  margin-top: 15px;
}

.testimonials .testimonial .testimonial_author a {
  color: #fff;
}

.testimonials .testimonial p {
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  margin: 0;
  text-align: center;
}

.testimonials .bx-wrapper .bx-pager.bx-default-pager a {
  background: none;
  border: 1px solid #fff;
  width: 8px;
  height: 8px;
}

.testimonials .bx-wrapper .bx-pager.bx-default-pager a:hover, .testimonials .bx-wrapper .bx-pager.bx-default-pager a.active {
  background: #fff;
}

.testimonials .testimonials_arrow {
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 7px 7.5px 0 7.5px;
  border-color: #2e2e2e transparent transparent transparent;
  position: absolute;
  bottom: -7px;
  left: 49.25%;
}

.testimonials .bx-wrapper .bx-pager, .testimonials .bx-wrapper .bx-controls-auto {
  position: static;
  z-index: 100000;
  padding-top: 15px;
}

.interstellar_section .bx-wrapper .bx-pager.bx-default-pager a {
  text-indent: -9999px;
  display: block;
  width: 8px;
  height: 8px;
  margin: 0 5px;
  outline: 0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #fff;
}

.interstellar_section .bx-wrapper .bx-pager.bx-default-pager a:hover, .interstellar_section .bx-wrapper .bx-pager.bx-default-pager a.active {
  background: #fff;
}

.gmap {
  padding: 2px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: rgba(1, 1, 1, 0.3) 0px 0px 3px inset, rgba(255, 255, 255, 0.9) 0px 1px 0px;
  -moz-box-shadow: rgba(1, 1, 1, 0.3) 0px 0px 3px inset, rgba(255, 255, 255, 0.9) 0px 1px 0px;
  box-shadow: rgba(1, 1, 1, 0.3) 0px 0px 3px inset, rgba(255, 255, 255, 0.9) 0px 1px 0px;
}

body {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  background: #eeeeee;
  overflow-x: hidden;
}

html {
  height: 100%;
}

img {
  vertical-align: top;
  width: 100%;
}

#ascrail2001 {
  z-index: 20000 !important;
}

.bx-viewport ul {
  display: inline-block;
  margin-top: 0;
}

.pull_right {
  float: right !important;
}

.img_section {
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
}

.video_section {
  overflow: hidden;
  position: relative;
}

.video_section .resp_video {
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
}

.parallax_section {
  background-repeat: repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
}

.texture_section {
  background-repeat: repeat;
  position: relative;
  z-index: 1;
}

.section {
  overflow: hidden;
}

.back-layer {
  background-image: url(../images/back_layer.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  overflow: hidden;
}

.stars-1 {
  background-image: url(../images/layer-1.png);
  overflow: hidden;
}

.stars-2 {
  background-image: url(../images/layer-2.png);
  overflow: hidden;
}

.stars-3 {
  background-image: url(../images/layer-3.png);
  overflow: hidden;
}

.stars-4 {
  background-image: url(../images/layer-4.png);
  overflow: hidden;
}

.stars-5 {
  background-image: url(../images/layer-5.png);
  overflow: hidden;
}

.layer-texture {
  background: url(../images/texture.png) repeat;
  overflow: hidden;
}

.interstellar_container h1, .interstellar_container h2, .interstellar_container h3, .interstellar_container h4, .interstellar_container h5, .interstellar_container h6 {
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 0;
}

.interstellar_container p {
  font-weight: 300;
  color: white;
}

.interstellar_container p {
  font-size: 16px;
}

.header_border {
  width: 0px;
  border-right: 1px solid #000;
  border-left: 1px solid #2b2b2b;
  position: absolute;
  right: 0px;
  top: 0px;
  height: 100%;
  z-index: 100;
}

.header {
  width: 260px;
  float: left;
  height: 100%;
  background: #232323;
  border-top: 5px solid #EE4C9B;
  position: relative;
  padding: 0 0;
  position: fixed;
  z-index: 1000;
  top: 0;
}

.content {
    border-top: 5px solid #EE4C9B;
    border-bottom: 5px solid #EE4C9B;
  overflow: hidden;
  margin-left: 260px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.header_section {
  padding-left: 15px;
  padding-right: 15px;
}

#logo {
  width: 100%;
  text-align: center;
  padding: 40px 0;
  background: #232323;
  border-bottom: 1px solid #000;
}

#logo img {
  width: 60%;
  margin: 0 auto;
}

.tagline {
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid #2d2d2d;
  border-bottom: 1px solid #000;
}

.tagline p {
  color: #fff;
  text-shadow: black 1px 1px 1px;
}

/* ########## NAVIGATION ############### */
.topnav {
  width: 100%;
}

ul.topnav {
  padding: 0;
  margin: 0;
  font-size: 12px;
  line-height: 1.9em;
  list-style: none;
}

ul.topnav li span {
  float: right;
  color: #313131;
  text-shadow: rgba(255, 255, 255, 0.14) 1px 1px 0px, rgba(1, 1, 1, 0.5) -1px -1px 0px;
}

ul.topnav li a {
  line-height: 1.9em;
  padding: 10px 20px;
  color: #fff;
  display: block;
  text-decoration: none;
  font-weight: 600;
  text-transform: uppercase;
  background: #232323;
  border-top: 1px solid #393939;
  border-bottom: 1px solid #000;
  text-align: center;
  font-size: 11px;
}

ul.topnav li a:hover {
  background-color: #1a1a1a;
  color: white;
}

ul.topnav ul {
  margin: 0;
  padding: 0;
  display: none;
}

ul.topnav ul li {
  margin: 0;
  padding: 0;
  clear: both;
}

ul.topnav ul {
  background: #292929;
  border: none;
}

ul.topnav ul li a {
  background: none;
  border: none;
}

ul.topnav ul li a {
  padding-left: 20px;
  font-size: 11px;
  font-weight: normal;
  outline: 0;
}

ul.topnav ul li a:hover {
  background-color: #1a1a1a;
  color: #fff;
}

ul.topnav ul ul li a {
  color: #fff;
  padding-left: 40px;
  background: #383838;
}

ul.topnav ul ul li a:hover {
  background-color: #1a1a1a;
  color: #fff;
}

/* ############## SEARCH AREA ##############*/
#searcharea {
  position: relative;
}

.searchfield {
  width: 100%;
  padding: 2.5%;
  margin: 0;
  outline: none;
  position: relative;
  background: #1A1A1A;
  border-bottom: 1px solid #000000;
  border-right: none;
  border-top: 1px solid #2B2929;
  border-left: none;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 50px;
  color: white;
}

.searchbutton {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  margin: 0;
  outline: none;
  border: none;
  background: none;
  color: #fff;
  width: 40px;
  cursor: pointer;
}

.search-input-icon {
  position: absolute;
  right: 12px;
  top: 14.5px;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
}

/* ############## SOCIAL AREA ##############*/
.social {
  position: fixed;
  bottom: 0;
  background: #232323;
  border-top: 1px solid #393939;
  color: #fff;
  width: inherit;
  padding-top: 20px;
  padding-bottom: 20px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  height: 70px;
}

.social a {
  color: #5F5F5F;
  font-size: 22px;
  display: inline-block;
  line-height: 1;
}

.social i {
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s;
}

.social .icon-facebook-squared-1:hover {
  color: #415580;
}

.social .icon-twitter-squared:hover {
  color: #498AB1;
}

.social .icon-instagramm:hover {
  color: #8A8463;
}

.social .icon-flickr-1:hover {
  color: #EB1CA9;
}

.social .icon-pinterest-squared:hover {
  color: #B8234D;
}

.social .icon-rss-squared:hover {
  color: #E0911B;
}

.social_list {
  float: left;
  display: inline-block;
  text-align: center;
  width: 100%;
  margin: 0;
}

.social_list li {
  margin-right: 5px;
  display: inline-block;
}

.social_list li:last-child {
  margin-right: 0px;
}

.credit p {
  margin: 0;
  color: white;
}

/* ############## CREDIT AREA ##############*/
.credit {
  background: #232323;
  border-top: 1px solid #393939;
  color: #fff;
  padding-top: 20px;
  padding-bottom: 20px;
  height: 135px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.credit p {
  font-size: 12px;
}

/* ############## FOOTER AREA ##############*/
.footer {
  background: #111111;
  border-top: 1px solid #393939;
  color: #fff;
  padding-top: 20px;
  padding-bottom: 20px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*############# LIGHT WIDGET ###############*/
.light_widget h1, .light_widget h2, .light_widget h3, .light_widget h4, .light_widget h5, .light_widget h6 {
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 15px;
}
.light_widget p, .light_widget a {
  color: #fff;
  font-size: 12px;
}

.light_widget .recent_posts {
  display: inline-block;
}
.light_widget .recent_posts p {
  margin: 0;
  line-height: 1.6em;
  margin-bottom: 5px;
}
.light_widget .recent_posts .side_date p {
  line-height: 1;
}
.light_widget .recent_posts .side_date p a {
  font-size: 10px;
  color: #A5A5A5;
}
.light_widget .recent_posts li {
  display: inline-block;
  padding-top: 15px;
  padding-bottom: 15px;
  border-top: 1px solid #222;
  border-bottom: 1px solid #000;
  width: 100%;
}
.light_widget .recent_posts li:last-child {
  padding-bottom: 0px !important;
  border-bottom: none !important;
}
.light_widget .recent_posts li:first-child {
  padding-top: 0px !important;
  border-top: none !important;
}
.light_widget .recent_posts img {
  width: 50px;
  margin-right: 15px;
  float: left;
  clear: both;
}

.light_widget .tags {
  display: inline-block;
}
.light_widget .tags li {
  float: left;
  cursor: pointer;
  display: inline-block;
  padding: 10px 20px;
  line-height: 1;
  margin: 0 5px 5px 0;
  background: #181818;
}
.light_widget .tags li a {
  line-height: 1;
}
.light_widget .tags li:hover {
  background: #252525;
}

.light_widget .text {
  margin-top: 15px;
}

.light_widget .arch_cat li {
  display: inline-block;
  padding-bottom: 10px;
  padding-top: 10px;
  border-bottom: 1px solid #000;
  width: 100%;
  border-top: 1px solid #222;
}
.light_widget .arch_cat li:last-child {
  padding-bottom: 0px !important;
  border-bottom: none !important;
}
.light_widget .arch_cat li:first-child {
  padding-top: 0px !important;
  border-top: none !important;
}

.portfolio {
  overflow: visible !important;
  width: 100%;
}

.portfolio_item {
  background: #B1B1B1;
  float: left;
  position: relative;
  backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  -moz-transition: -moz-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  overflow: hidden;
}

.portfolio_item:hover {
  -webkit-box-shadow: black 0px 0px 20px;
  -moz-box-shadow: black 0px 0px 20px;
  box-shadow: black 0px 0px 20px;
  -webkit-font-smoothing: antialiased;
}

.portfolio_item img {
  width: 100%;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-filter: blur(0px) grayscale(0.2);
  -moz-filter: blur(0px) grayscale(0.2);
  filter: blur(0px) grayscale(0.2);
}

.portfolio_item .portfolio_item_info {
  width: 100%;
  z-index: -1;
  color: white;
  display: none;
  text-align: center;
  overflow: hidden;
  padding: 5%;
  background: #fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
}

.portfolio_item .portfolio_item_info a {
  display: inline-block;
  margin: 0 2.5px;
  font-size: 10px;
  color: #666;
  font-weight: 700;
}

.portfolio_item .portfolio_item_info .portfolio_icon {
  font-size: 14px;
  color: #111;
  vertical-align: text-bottom;
  display: inline-block;
}

.portfolio_item .portfolio_item_info .icon-heart {
  color: red;
}

.portfolio_item .portfolio_item_info h6 a {
  color: #111;
  font-weight: 700;
  margin: 0px;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
}

[data-portfolio-cols="4"] .portfolio_item {
  width: 25%;
}

[data-portfolio-cols="3"] .portfolio_item {
  width: 33.333333333333%;
}

[data-portfolio-cols="2"] .portfolio_item {
  width: 50%;
}

[data-portfolio-cols="1"] .portfolio_item {
  width: 100%;
}

.portfolio_nav {
  display: inline-table;
  width: 100%;
  background: #232323;
  vertical-align: bottom;
  border-top: 1px solid #3D3D3D;
}

.portfolio_content {
  padding: 0 !important;
  margin: 0 !important;
}

.port_nav {
  position: absolute;
  top: 0;
  right: 20px;
}

.port_nav a {
  color: #fff;
  padding: 18px 10px;
  display: inline-block;
}

.port_nav a:hover {
  background: #333;
}

#filters {
  display: inline-block;
  overflow: hidden;
  vertical-align: bottom;
  float: left;
  margin: 0;
  width: 100%;
  text-align: center;
}

#filters li {
  display: inline;
  line-height: 1;
}

#filters li a {
  line-height: 1;
  color: #fff;
  font-size: 12px;
  padding: 20px 25px;
  display: inline-block;
}

#filters li a:hover {
  background: #333;
}

.portfolio_item_title {
  width: 45%;
  margin-left: 5%;
}

.portfolio_item_title h1 {
  background: rgba(1, 1, 1, 0.85);
  color: #fff;
  padding: 20px;
  margin: 0;
  font-weight: 300;
}

.portfolio_item_title p {
  background: #fff;
  color: #999;
  padding: 20px;
  margin: 0;
  font-size: 16px;
}

.portfolio_item_social {
  padding: 15px;
  background: #F8F8F8;
  border-top: 1px solid #EBEBEB;
  overflow: hidden;
}

.portfolio_item_social .portfolio_item_likes {
  float: right;
  color: #999;
  font-size: 14px;
  font-weight: 600;
}

.portfolio_item_social .portfolio_item_likes i {
  font-size: 16px;
  color: #E05454;
}

.single_portfolio_nav {
  position: fixed;
  z-index: 10000;
  right: 20px;
  top: 20px;
}

.single_portfolio_nav a {
  background: rgba(1, 1, 1, 0.6);
  color: #fff;
  padding: 10px;
  float: left;
  margin-left: 1px;
}

.single_portfolio_nav a:hover {
  background: rgba(1, 1, 1, 0.8);
}

.blog_post_title {
  width: 100%;
}

.blog_post_title h1 {
  background: rgba(1, 1, 1, 0.85);
  color: #fff;
  padding: 20px 15px;
  margin: 0;
  font-weight: 300;
}

.blog_post_content {
  background: #fff;
  overflow: hidden;
  padding: 15px;
}

.blog_post_meta {
  padding: 20px 15px;
  background: #F8F8F8;
  color: #666;
}

.blog_post_meta a {
  color: #999;
}

.blog_post_meta span {
  font-size: 12px;
}

.blog_post_meta span:before {
  content: "/";
  margin: 0 15px;
}

.blog_post_meta span:first-child:before {
  content: "";
  margin: 0;
}

.blog_post_meta span i {
  margin-right: 5px;
}

.related_posts {
  margin: 80px 0;
  display: inline-block;
}

.related_posts h6 {
  margin-bottom: 30px;
  font-weight: 600;
}

.related_posts .related_post {
  width: 25%;
  float: left;
  position: relative;
  border: 3px solid #fff;
  outline: 1px solid #C2C2C2;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.related_post .blog_item_likes {
  color: #999;
  font-size: 14px;
  font-weight: 600;
  position: absolute;
  top: 50%;
  text-align: center;
  width: 100%;
}

.related_post .blog_item_likes i {
  font-size: 16px;
  color: #E05454;
}

.related_post .related_post_likes {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  background: rgba(255, 255, 255, 0.7);
  display: none;
}

.related_post .related_post_title {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  bottom: 52%;
  position: absolute;
  width: 95%;
  padding: 0 2.5%;
}

.related_post .related_post_title a {
  color: #000;
}

.recent_blog_posts .recent_blog_post {
  width: 25%;
  float: left;
}
.recent_blog_posts .recent_blog_post .image_wrap {
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 10px;
}
.recent_blog_posts .recent_blog_post .recent_blog_post_date {
  margin-bottom: 10px;
  display: inline-block;
}
.recent_blog_posts .recent_blog_post .recent_blog_post_date a {
  color: #999;
  font-size: 10px;
}
.recent_blog_posts .recent_blog_post .recent_blog_post_info {
  min-height: 50px;
}
.recent_blog_posts .recent_blog_post .recent_blog_post_info .recent_blog_post_comments {
  color: #999;
  margin-right: 10px;
  font-weight: 600;
  font-size: 12px;
}
.recent_blog_posts .recent_blog_post .recent_blog_post_info .recent_blog_post_comments i {
  color: #686868;
  font-size: 16px;
}
.recent_blog_posts .recent_blog_post .recent_blog_post_info .recent_blog_post_likes {
  color: #999;
  margin-right: 10px;
  font-weight: 600;
  font-size: 12px;
}
.recent_blog_posts .recent_blog_post .recent_blog_post_info .recent_blog_post_likes i {
  color: #df4b4b;
  font-size: 16px;
}
.recent_blog_posts .recent_blog_post .recent_blog_post_info h6 a {
  color: #000;
  font-weight: 600;
  font-size: 14px;
}

.post_comments {
  margin: 0 0 80px 0;
  display: inline-block;
}

.post_comments h6 {
  margin-bottom: 30px;
  font-weight: 600;
}

.post_comment {
  margin-bottom: 40px;
}
.post_comment:last-child {
  margin-bottom: 0px;
}
.post_comment .post_comment_avatar {
  width: 55px;
  float: left;
  margin-right: 15px;
}
.post_comment .post_comment_content {
  margin-left: 80px;
  background: #FFF;
  padding: 30px;
  position: relative;
}
.post_comment .post_comment_content p {
  margin: 0px;
}
.post_comment .post_comment_arrow {
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 7.5px 10px 7.5px 0;
  border-color: transparent #ffffff transparent transparent;
  position: absolute;
  left: -10px;
  top: 15px;
}
.post_comment .post_comment_info {
  width: 100%;
  display: inline-block;
  margin-bottom: 5px;
}
.post_comment .post_comment_info h6 {
  margin: 0;
  float: left;
}
.post_comment .post_comment_info p {
  float: right;
  display: inline-block;
  font-size: 11px;
  color: #bbb;
}

.leave_comments {
  margin: 0 0 80px 0;
}

.leave_comments h6 {
  margin-bottom: 30px;
  font-weight: 600;
}

.form {
  display: inline-block;
  width: 100%;
}

.sub_but {
  width: 100%;
  background: #FFF;
  color: #666;
  float: left;
  background: #FCFCFC;
  box-shadow: rgba(0, 0, 0, 0.31) 0px 0px 1px, rgba(255, 255, 255, 0.9) 0px -1px 0px !important;
}

.sub_but:hover {
  background: #F5F5F5;
}

.form p {
  display: inline-block;
  margin: 0;
  line-height: 1;
  margin-bottom: 10px;
  font-size: 12px;
}

.form input {
  outline: none;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  border: none;
  height: 40px;
  padding: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #FCFCFC;
  -webkit-box-shadow: rgba(1, 1, 1, 0.3) 0px 0px 3px inset, rgba(255, 255, 255, 0.9) 0px 1px 0px;
  -moz-box-shadow: rgba(1, 1, 1, 0.3) 0px 0px 3px inset, rgba(255, 255, 255, 0.9) 0px 1px 0px;
  box-shadow: rgba(1, 1, 1, 0.3) 0px 0px 3px inset, rgba(255, 255, 255, 0.9) 0px 1px 0px;
}

.form select {
    outline: none;
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
    border: none;
    height: 40px;
    padding: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: #FCFCFC;
    width: 100%;
    -webkit-box-shadow: rgba(1, 1, 1, 0.3) 0px 0px 3px inset, rgba(255, 255, 255, 0.9) 0px 1px 0px;
    -moz-box-shadow: rgba(1, 1, 1, 0.3) 0px 0px 3px inset, rgba(255, 255, 255, 0.9) 0px 1px 0px;
    box-shadow: rgba(1, 1, 1, 0.3) 0px 0px 3px inset, rgba(255, 255, 255, 0.9) 0px 1px 0px;
}

.form textarea {
  outline: none;
  margin: 0;
  margin-bottom: 20px;
  padding: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: none;
  width: 99.9%;
  height: 180px;
  vertical-align: bottom;
  background: #FCFCFC;
  -webkit-box-shadow: rgba(1, 1, 1, 0.3) 0px 0px 3px inset, rgba(255, 255, 255, 0.9) 0px 1px 0px;
  -moz-box-shadow: rgba(1, 1, 1, 0.3) 0px 0px 3px inset, rgba(255, 255, 255, 0.9) 0px 1px 0px;
  box-shadow: rgba(1, 1, 1, 0.3) 0px 0px 3px inset, rgba(255, 255, 255, 0.9) 0px 1px 0px;
}

#bx-pager a {
  float: left;
  width: 24.25%;
  margin-right: 1%;
  margin-top: 1%;
}

#bx-pager a:last-child {
  margin-right: 0;
}

#instafeed {
  display: inline-block;
}

.instagram {
  width: 25%;
  float: left;
  border: 3px solid #fff;
  outline: 1px solid #C2C2C2;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.instagram img {
  width: 100%;
  float: left;
}

#instafeed2 .instagram {
  width: 25%;
  float: left;
  border: none;
  outline: none;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
#instafeed2 .instagram img {
  width: 100%;
  float: left;
}

.content_section {
  padding: 40px 0;
  position: relative;
  display: inline-block;
  width: 100%;
}

.icons-list {
  display: inline-block;
}

.icons-list li {
  float: left;
  margin: 20px;
  padding: 0 !important;
}

.icons-list li i {
  color: #fff;
  font-size: 45px;
}

/*####################### BLOG ########################## */
.page_header h1 {
  font-size: 80px;
  text-transform: uppercase;
  color: black;
  font-weight: 300;
  line-height: 1;
}

.page_header p {
  font-size: 16px;
  text-transform: uppercase;
  color: white;
  font-weight: 300;
}

.post {
  background: #fff;
  padding: 15px;
  border: 1px solid #d5d5d5;
  margin: 3px 0 40px 0;
  -webkit-box-shadow: white 0px 1px 0px inset, rgba(0, 0, 0, 0.3) 0px 0px 3px;
  -moz-box-shadow: white 0px 1px 0px inset, rgba(0, 0, 0, 0.3) 0px 0px 3px;
  box-shadow: white 0px 1px 0px inset, rgba(0, 0, 0, 0.3) 0px 0px 3px;
}

.post_masonry {
  width: 300px;
  float: left;
}

.post_masonry .post {
  margin: 3px 0 30px 0;
}

.masonry_container {
  margin: 0 auto;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}

.loading {
  background: url(../images/ajax-loader.gif);
  width: 45px;
  height: 45px;
  margin: 0 auto;
  margin-top: 14px;
}

.loading_wrap {
  position: absolute;
  width: 130px;
  height: 80px;
  background: #fff;
  left: 44%;
  top: 2%;
  z-index: 100;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

.post h5 a {
  color: #202020;
  font-weight: 600;
}

.post h5 a:hover {
  color: #EE4C9B;
}

.post p {
  color: #666666;
  font-weight: 400;
  margin-bottom: 5px;
}

.post .read_more {
  font-size: 10px;
  color: #666666;
}

.post img, .post video, .post audio {
  max-width: 100%;
}

.post .blog_display {
  margin-bottom: 20px;
}

.post .blog_meta {
  background: #f6f6f6;
  margin: 15px -15px -15px -15px;
  padding: 10px 15px;
  border-top: 1px solid #d5d5d5;
  overflow: hidden;
}

.post .blog_meta .blog_date, .post .blog_meta .blog_likes, .post .blog_meta .blog_comments {
  font-size: 10px;
  color: #666666;
}

.post .blog_meta .blog_likes, .post .blog_meta .blog_comments {
  float: right;
}

.post .blog_meta .blog_date {
  float: left;
}

.post .blog_meta .blog_likes {
  margin-left: 15px;
}

.post .blog_meta .blog_date i, .post .blog_meta .blog_comments i, .post .blog_meta .blog_likes i {
  font-size: 11px;
}

.post .blog_meta .blog_date a, .post .blog_meta .blog_likes a, .post .blog_meta .blog_comments a {
  color: #666666;
}

.post .blog_meta .blog_likes i {
  color: #DB1515;
}

.post .post_quote {
  padding: 20px;
  border: 1px #ccc;
  border-style: dashed;
  display: inline-block;
}

.post .post_quote p {
  font-size: 22px;
}

.post .post_quote .quote_author {
  float: right;
  font-size: 12px;
  font-weight: 700;
}

.post .post_link {
  padding: 20px;
  border: 1px #ccc;
  border-style: dashed;
  display: inline-block;
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
}

.post .post_link p {
  font-size: 22px;
  text-align: center;
}

.post .post_link a {
  font-size: 12px;
  font-weight: 700;
  text-align: center;
}

.blog_nav {
  display: inline-block;
  float: right;
}

.blog_nav a {
  float: left;
  color: #fff;
  background: #232323;
  padding: 8px 10px 12px 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

.blog_nav a:first-child {
  margin-right: 10px;
}

.widget {
  margin: 3px 0 60px 0;
}
.widget h1, .widget h2, .widget h3, .widget h4, .widget h5, .widget h6 {
  margin: 0 0 15px 0;
  font-size: 15px;
  font-weight: 600;
  color: #333;
  text-transform: uppercase;
}
.widget p, .widget a {
  color: #666;
  font-size: 12px;
}

.widget .recent_posts {
  display: inline-block;
  margin-top: 0px;
}
.widget .recent_posts p {
  line-height: 1.6em;
  margin-bottom: 5px;
  margin-top: 0px;
}
.widget .recent_posts .side_date p {
  line-height: 1;
}
.widget .recent_posts .side_date p a {
  font-size: 10px;
  color: #ACACAC;
}
.widget .recent_posts li {
  display: inline-block;
  padding-bottom: 15px;
  padding-top: 15px;
  border-bottom: 1px solid #D5D5D5;
  width: 100%;
  border-top: 1px solid #FFFFFF;
}
.widget .recent_posts li:last-child {
  padding-bottom: 0px !important;
  border-bottom: none !important;
}
.widget .recent_posts li:first-child {
  padding-top: 0px !important;
  border-top: none !important;
}
.widget .recent_posts img {
  width: 50px;
  margin-right: 15px;
  float: left;
  clear: both;
}

.widget .arch_cat {
  display: inline-block;
  margin: 0;
}
.widget .arch_cat li {
  display: inline-block;
  padding-bottom: 10px;
  padding-top: 10px;
  border-bottom: 1px solid #D5D5D5;
  width: 100%;
  border-top: 1px solid #FFFFFF;
}
.widget .arch_cat li:last-child {
  padding-bottom: 0px !important;
  border-bottom: none !important;
}
.widget .arch_cat li:first-child {
  padding-top: 0px !important;
  border-top: none !important;
}

.widget .tags {
  display: inline-block;
  margin: 0;
}
.widget .tags li {
  float: left;
  cursor: pointer;
  display: inline-block;
  background: #F7F7F7;
  padding: 10px 20px;
  line-height: 1;
  margin: 0 5px 5px 0;
}
.widget .tags li a {
  line-height: 1;
}
.widget .tags li:hover {
  background: #FAFAFA;
}

/* ##########################################*/
@media (max-width: 400px) {
  .header {
    width: 100%;
    -webkit-box-shadow: black 0px 2px 20px;
    -moz-box-shadow: black 0px 2px 20px;
    box-shadow: black 0px 2px 20px;
  }

  #logo {
    padding: 15px 0;
  }

  #logo img {
    width: 150px;
  }

  .content {
    width: 100%;
    margin-left: 0 !important;
  }

  .header_section, .topnav, #searchbar {
    display: none;
  }

  .header {
    height: auto;
  }

  .interstellar_container p {
    font-weight: 300;
    color: white;
  }

  .interstellar_container p {
    font-size: 12px;
  }

  .portfolio_item, .portfolio {
    width: 100% !important;
  }

  .post_masonry {
    width: 100%;
  }

  .masonry_container {
    width: 100% !important;
  }

  .portfolio_item_title {
    width: 100%;
    margin-left: 0%;
  }

  .related_posts .related_post {
    width: 100%;
  }

  .page_header h1 {
    font-size: 30px;
  }

  .form_input_wrap {
    width: 100% !important;
  }

  .recent_blog_posts .recent_blog_post {
    width: 100% !important;
    margin-bottom: 40px !important;
  }
}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 400px) and (max-width: 768px) {
  .header {
    width: 100%;
    -webkit-box-shadow: black 0px 2px 20px;
    -moz-box-shadow: black 0px 2px 20px;
    box-shadow: black 0px 2px 20px;
  }

  #logo {
    padding: 15px 0;
  }

  #logo img {
    width: 150px;
  }

  .content {
    width: 100%;
    margin-left: 0;
  }

  .header_section, .topnav, #searchbar {
    display: none;
  }

  .header {
    height: auto;
  }

  .interstellar_container p {
    font-size: 12px;
  }

  .portfolio_item {
    width: 100%;
  }

  .portfolio_item_title {
    width: 100%;
    margin-left: 0%;
  }

  .page_header h1 {
    font-size: 30px;
  }

  .form_input_wrap {
    width: 100% !important;
  }
}
/* Medium devices (desktops, 992px and up) */
/* Large devices (large desktops, 1200px and up) */

.bxslider {
  margin: 0px !important;
}

table.data-grid {
  border: 0px;
}

table.data-grid td {
  margin: 0px;
  padding: 10px;
}

.donation-form {
  text-align: center;
  margin-top: 20px;
}

.flower-power {
    height: 900px;
}

.text-right {
    text-align: right;
}
.text-right img {
    margin-left: auto;
}

.menu {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 50px !important;
    height: 50px;
}
